@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 75vw;
  background-color: #191c32;
}

.navbar {
  height: 1,5cm;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.navbar img {
  display: flex;
  background: none;
}

.yoprog {
  display: flex;
  padding-top: 1.5em;
  font-family: "Poppins",sans-serif;
  color:rgb(24, 223, 51)
}

.banner {
  width: 100%;
  padding: 1em;
}

.menu {
  padding-top: 1.5em;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: rgb(24, 223, 51);
  text-decoration: none;
  padding: 3px 5px;
  cursor: none;
}

.menu a:hover {
  background-color: rgb(24, 223, 51);
  border-radius: 10px;
  color: #191c32;
  transition: ease-in .4s;
}

.log {
  padding: 0.5em;
  color: #191c32;
  background-color: rgb(24, 223, 51);
  border: none;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  margin-top: -2px;
  font-size: larger;
}

.log :hover{
  border-radius: 10px;
  color: #191c32;
  transition: ease-in .4s;
}

.main {
  margin: auto;
  width: 80%;
  height: 30vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  padding: 2vw;
}

.info h1 {
  font-size: 3em;
  color: rgb(24, 223, 51);
}

.foto {
  margin-left: 3em;
  border: solid #fff;
}

.introduccion {
  color: white
}

.descarga-cv {
  padding: 5px 7px;
  background-color: rgb(24, 223, 51);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.descarga-cv:hover {
  background-color: #191c32;
  color: antiquewhite;
  transition: ease-in .3s;
}

.main img {
  width: 50%;
  display: flex;
  border: 7 px solid rgb(24, 223, 51);
}

.experiencia {
  color: #191c32;
  padding: 2vw;
}

.trabajo {
  margin: auto;
  width: 80vw;
  height: 7vw;
  display: grid;
  align-items: center;
}

.separador {
  align-content: center;
  height: 5px;
  width: 90vw;
  background-color: #191c32;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.estudios {
  color: #191c32;
}

.estudio {
  margin: auto;
  width: 80vw;
  height: 7vw;
  display: grid;
  align-items: center;
}

.estudio i {
  color: #191c32;
}

.proyecto i {
  color: #191c32;
}
